.file-download {
    position: relative;
    border: solid 1px #0F0F0F;
    border-radius: 22px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 79.73px 1fr;
    grid-gap: 47.66px;
    margin-top: 21px;
    padding: 37px 47px 32px 42px;
}
.file-download .icon img {
    width: 100%;
    height: auto;
}
.file-download .file-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 18px;
}
.file-download .file-subname {
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 4px;
}
.file-download .cta a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
.file-download .cta a span {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #0F0F0F;
    text-decoration: none;
    margin-right: 8px;
}
.file-download .cta a:hover span {
    color: #258890!important;
}
.file-download .cta a:hover #Ellipse_133 {
    fill: #258890!important;
}
.file-download .cta a:hover #Ellipse_133 {
    stroke: #258890!important;
}
.file-download .cta a:hover #Line_38,
.file-download .cta a:hover #Path_5971 {
    stroke: #fff!important;
}

.news-contact {
    background-color: rgba(225, 233, 239, 0.5);
    border-radius: 20px;
    overflow: hidden;
    padding: 45px 97px 35px 72px;
    margin-top: 72.56px;
}
.news-contact h3 {
    font-size: 45px!important;
    line-height: 49px!important;
    margin-bottom: 20px;
	font-family: "futura-pt", Sans-serif !important;
}
.news-contact .grid {
    display: grid;
    grid-template-columns: 1fr 180px;
}
.news-contact .contact-name {
    font-size: 23px;
    line-height: 36px;
    margin-bottom: 8px;
}
.news-contact .job-role {
    font-size: 17px;
    line-height: 29px;
}
.news-contact .job-role p:last-child {
    margin-bottom: 0;
}
.news-contact .cta {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.news-contact .cta a {
    display: inline-block;
    background-color: #CC9845;
    color: #fff;
    border-radius: 7px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    padding: 17px 27px 17px 27px;
    text-decoration: none!important;
}
.news-contact .cta a:hover {
    background-color: #258890!important;
    color: #fff!important;
}



.news-related-items article {
    border: solid 1px #0F0F0F;
    background-color: #fff;
    border-radius: 22px;
    overflow: hidden;
    padding: 44px 31px 37px 48px;
    position: relative;
}
.news-related-items .cta-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.news-related-items h3,
.news-related-items .excerpt,
.news-related-items .date,
.news-related-items a,
.news-related-items .terms span {
    font-family: "Raleway"!important;
}
.news-related-items h3 {
    font-weight: 700!important;
    font-size: 26px!important;
    line-height: 32px!important;
    margin-bottom: 9px!important;
}
.news-related-items .date {
    font-size: 13px!important;
    font-weight: 500!important;
    line-height: 21px!important;
    margin-bottom: 15px!important;
}
.news-related-items .excerpt {
    font-size: 17px!important;
    font-weight: 500!important;
    line-height: 29px!important;
    margin-bottom: 17px!important;
}
.news-related-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
.news-related-items a span {
    font-size: 16px!important;
    font-weight: 700!important;
    line-height: 27px!important;
    color: #0F0F0F;
    text-decoration: none;
    margin-right: 8px;
}
.news-related-items article:hover .cta a span {
    color: #258890!important;
}
.news-related-items article:hover #Ellipse_133 {
    fill: #258890!important;
}
.news-related-items article:hover #Ellipse_133 {
    stroke: #258890!important;
}
.news-related-items article:hover #Line_38,
.news-related-items article:hover #Path_5971 {
    stroke: #fff!important;
}

.news-related-items .terms {
    font-size: 0;
    line-height: 1;
    margin-bottom: 10px;
}
.news-related-items .terms span {
    display: inline-block;
    background-color: #CAE2E0;
    border-radius: 22px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 5px 14px 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #0F0F0F;
}
.news-related-items a {
    text-decoration: none!important;
}
.bx-wrapper {
    padding: 0!important;
    background: none!important;
    box-shadow: none!important;
    border: none!important;
    margin-bottom: 0!important;
}
.bx-wrapper .bx-controls-direction a {
    width: 47.2px!important;
    height: 47.2px!important;
    background: none!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -46.6px!important;
}
.bx-wrapper .bx-controls-direction a svg {
    width: 100%;
    height: auto;
}
.bx-wrapper .bx-prev {
    left: -70px!important;
}
.bx-wrapper .bx-next {
    right: -70px!important;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 40 !important;
}

.bx-controls-direction a:hover svg #Ellipse_630 * {
	fill: #258890;
	stroke: #258890;
}

.bx-controls-direction a:hover svg #Controls_Slider_Arrow_Left path {
	stroke: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.bx-wrapper .bx-controls-direction a {
		top: 120% !important;
	}
	.bx-wrapper .bx-prev {
		left: 25% !important;
	}
	.bx-wrapper .bx-next {
		right: 25% !important;
	}
	
	.news-contact {
		margin-top: 0;
	}
	
	.file-download .icon {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.file-download {
		grid-template-columns: 1fr;
	}
	
	.file-download .icon img {
		width: auto;
	}
	
	.news-contact {
		padding: 9%;
		margin-top: 0;
	}
	
	.news-contact .grid {
		grid-template-columns: 1fr;
	}
	
	.news-contact .grid .contact-details {
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 767px) {
    .bx-wrapper .bx-prev {
        left: -30px!important;
    }
    .bx-wrapper .bx-next {
        right: -30px!important;
    }
	
	.file-download {
		grid-gap: 20px;
	}

}