.news-feeds {
    padding-top: 120px;
    padding-bottom: 57px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
}
.news-feeds article {
    border: solid 1px #0F0F0F;
    border-radius: 22px;
    overflow: hidden;
    padding: 44px 31px 37px 48px;
    position: relative;
}
.news-feeds .cta-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.news-feeds h3,
.news-feeds .excerpt,
.news-feeds .date,
.news-feeds a,
.news-feeds .terms span,
.results-progress .progress-label,
.load-more {
    font-family: "Raleway"!important;
}
.news-feeds h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 9px;
}
.news-feeds .date {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 15px;
}
.news-feeds .excerpt {
    font-size: 17px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 17px;
}
.news-feeds a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
.news-feeds a span {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #0F0F0F;
    text-decoration: none;
    margin-right: 8px;
}
.news-feeds article:hover .cta a span {
    color: #258890!important;
}
.news-feeds article:hover #Ellipse_133 {
    fill: #258890!important;
}
.news-feeds article:hover #Ellipse_133 {
    stroke: #258890!important;
}
.news-feeds article:hover #Line_38,
.news-feeds article:hover #Path_5971 {
    stroke: #fff!important;
}

.news-feeds .terms {
    font-size: 0;
    line-height: 1;
    margin-bottom: 10px;
}
.news-feeds .terms span {
    display: inline-block;
    background-color: #CAE2E0;
    border-radius: 22px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 5px 14px 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #0F0F0F;
}

.news-load-more {
    text-align: center;
    padding-bottom: 104px;
}
.results-progress {
    width: 190px;
    text-align: center;
    margin: 0 auto 48px;
}
.results-progress .progress-label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #0F0F0F;
    margin-bottom: 10px;
}
.results-progress .progress {
    display: block;
    position: relative;
    background-color: #d1e0ec;
    border-radius: 100px;
    height: 2px;
    overflow: hidden;
}
.results-progress .progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #97ab00;
    transition: all 0.5s;
}
.load-more {
    border: solid 2px #A2B445;
    border-radius: 7px;
    background-color: #F5F7EC;
    color: #0F0F0F!important;
    text-decoration: none!important;
    font-size: 19px;
    font-weight: 700;
    padding: 15px 27px 16px;
}
.load-more:hover {
    background-color: #258890!important;
    border: solid 2px #258890!important;
    color: #fff!important;
}

.news-ajax {
    position: relative;
}
.news-ajax::before {
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(./loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.news-ajax.loading::before {
    visibility: visible;
    opacity: 1;
}


@media only screen and (max-width: 767px) {
    .news-feeds {
        padding-top: 70px;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .news-feeds article {
        padding: 44px 25px 37px 25px;
    }
}